@media screen and (max-width:480px) {
    #greet {
        margin: 10px;
    }
    #artcontact {
        display: none;
    }
    header {
        height: 100%;
    }
    header nav  {
        display: none;
    }
    header #toph {
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    header #toph h2{
        margin: 0px;
        margin-bottom: 5px;
    }
    #images {
        display: none;
    }
    main #art01 {
        margin: 10px;
       
    }
    
    main #img005{
        display: none;
    }
    main #h {
        margin-right: 20px;
    }
    main #cards {
        display: none;
    }
    main #image06 {
        display: none;
    }
    main #followus #links{
        margin: 40px;
    }

    main #yr {
        margin: 10px;
        width: 80%;
    }
    footer .box {
        display: none;
    }
   
}