@media screen and (max-width:480px) {
    
    #artcontact {
        display: none;
    }
    header nav  {
        display: none;
    }
   
    
    main #art01 {
        margin: 10px;
        
    }
    main #art01 p{
        margin: 0px;
        margin-right: 20px;
    }
    
    main #img005{
        display: none;
    }
    main #h {
        margin-right: 20px;
    }
    
    main #image06 {
        display: none;
    }
    main #followus #links{
        margin: 40px;
    }

    main #yr {
        margin: 10px;
        width: 80%;
    }
    footer #rights #mainlogo {
         display: none;
    }
   
}