body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 22px;
   
 }
 header {
    width: 90%0;
    margin: 0 auto;
    height: 50vh;;
    padding: 50px;
    background-image: url('../images/bgtop.png');
    background-position: center;
    background-size: cover;
}
 header nav {
    display: flex;
 }
 header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
 }
 
 header nav ul a {
    text-decoration: none;
    color: black;
 }
 header nav ul a:hover {
    text-decoration:underline;
    font-weight: 300;
 }
 header nav ul li  i{
    margin-left: 10px; 
}
header #headtop {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 100px;
}
header #mainlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header #callforaction {
    width: 90%;
    margin: 0px auto;
}
header #callforaction a {
    text-decoration: none;
}
header #callforaction p{
    text-align: center;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #6D2323;
    border-radius: 100px;
    margin: 40px;
}
main #h {
    width: 80%;
    margin: 0px auto;
    color:#6D2323;
    font-size: 30px;
    font-weight: 400;
}
#greet {
    text-align: center;
    color: #6D2323;
    font-size: 30px;
    font-weight: 400;
}
#images {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#images img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #6D2323;
    border-radius: 15px 8px;
    background-color:#FEF9E1;
}
main #art03{
    width: 80%;
    margin: 20px auto;
}
main #art01{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}
main #art01 #rec001{
    width: 50%; 

}
main #art01 #star {
    margin-bottom: 30px;
}
main #art01 i {
    font-size: 15px;
    color: brown;
}

main #list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
main #list p {
    text-align: center;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #6D2323;
    border-radius: 100px;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Slides */
.mySlides {
    display: none;
    color:#6D2323;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  /* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    
  }
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color:#6D2323;
  }
main #image06 {
    display: flex;
    justify-content: center;
    margin: 30px;
}
main #image05 {
    display: flex;
    justify-content: center;
    margin: 30px;
}
main #image06 img {
    padding: 5px;
    border: 1px solid brown;
    background-color:#FEF9E1;
}
main #yr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffce1f;
    font-weight: bold;
    border-left: 2px solid #6D2323 ; 
    width: 50%;
    margin: 0px auto;
 }
 main #contact {
    display: flex;
    width: 80%;
    margin:  0px auto;  
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
 }
 
  main #b button{
    width: 150px;
    height: 30px;
    font-size: 22px;
    color:#ffffff;
    border : 1px solid#000000;
    border-radius: 100px;
    background-color: #6D2323;
    
}
main #contact input {
    border: 1px solid #6D2323;
    border-radius: 5px;
    height: 30px;
    font-size: 22px;
    margin: 20px auto;
}

 main #b {
    width: 20%;
    margin: 20px auto;
 }

main #followus #links{
  width: 80%;
  margin: 30px auto;
}
main #followus i {
    color:#6D2323;
    margin-left: 20px;
   font-size: 28px;
}
footer {
    display:flex;
    justify-content: space-around;
    border-top: 1px solid #6D2323;
    padding: 50px;
}

footer #rights {
    text-align: center;
}
footer #rights img {
    margin-top: 30px;
}